<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-wrapper">
    <div class="ion-padding">
      <h1 class="score">Score: {{score}}</h1>
      <!-- <p class="">Swipe the board left, right, up, and down to move all tiles in that direction.
      Tiles with identical values will be combined. Try to get all the way to 2048. A
      new "2" tile will be added to the board randomly with every turn. Plan your moves
      carefully.
    </p> -->
    </div>
    <div #gameBoard class="game-board">
      <div
        class="game-piece"
        *ngFor="let piece of gamePieces"
        [class]="piece.colorClass + ' ' + piece.gridClass"
      >{{piece?.value}}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="shiftLeft()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="shiftUp()">
        <ion-icon slot="icon-only" name="arrow-up-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="shiftDown()">
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="shiftRight()">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
