<ion-header>
  <ion-toolbar color="primary">
    <ion-title>2<sup>26</sup></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newGame()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="!isPlaying" (click)="startAutoPlay()"><ion-icon name="caret-forward"></ion-icon></ion-fab-button>
      <ion-fab-button *ngIf="isPlaying"  (click)="stopAutoPlay()"><ion-icon name="pause"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <div class="game-wrapper">
    <div class="ion-padding">
      <h1 class="score">Score: {{score}}</h1>
      <!-- <p class="">Swipe the board left, right, up, and down to move all tiles in that direction.
      Tiles with identical values will be combined. Try to get all the way to 2048. A
      new "2" tile will be added to the board randomly with every turn. Plan your moves
      carefully.
    </p> -->
    </div>
    <div #gameBoard class="game-board">
      <div
        class="game-piece"
        *ngFor="let piece of gamePieces"
        [class]="piece.colorClass + ' ' + piece.gridClass"
      >
        {{piece?.value}}
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-slides mode="ios" #ads>
      <ion-slide>
        <div class="ad">
          <a
            target="_blank"
            href="https://gumroad.com/l/angular-advocate/25off"
            class="href"
          >
            <img
              src="https://static-2.gumroad.com/res/gumroad/4274086123125/asset_previews/f3873731a132cea0b72b2f7a8e601d19/retina/1605124869.png"
              alt="Angular Advocate - How to awaken the champion within and become go-to expert at work"
            />
            Angular Advocate - How to awaken the champion within and become
            go-to expert at work. 25% off today!
          </a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ad">
          <a target="_blank" href="https://amazon.com/author/mcallaghan">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/71LBGuwVwIL._US230_.jpg"
              alt="Angular Advocate - How to awaken the champion within and become go-to expert at work"
            />
            Did you know I also write books? Find your next read today at
            Amazon!
          </a>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer> -->
