.game-board {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid #666666;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.game-piece {
  border: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
}
// Row 5
.grid-5-5 {
  grid-column: 5;
  grid-row: 5;
}

.grid-5-1 {
  grid-column: 1;
  grid-row: 5;
}

.grid-5-2 {
  grid-column: 2;
  grid-row: 5;
}

.grid-5-3 {
  grid-column: 3;
  grid-row: 5;
}

.grid-5-4 {
  grid-column: 4;
  grid-row: 5;
}

// Row 1
.grid-1-5 {
  grid-column: 5;
  grid-row: 1;
}

.grid-1-1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-1-2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-1-3 {
  grid-column: 3;
  grid-row: 1;
}

.grid-1-4 {
  grid-column: 4;
  grid-row: 1;
}

// Row 2
.grid-2-5 {
  grid-column: 5;
  grid-row: 2;
}

.grid-2-1 {
  grid-column: 1;
  grid-row: 2;
}

.grid-2-2 {
  grid-column: 2;
  grid-row: 2;
}

.grid-2-3 {
  grid-column: 3;
  grid-row: 2;
}

.grid-2-4 {
  grid-column: 4;
  grid-row: 2;
}

// Row 3
.grid-3-5 {
  grid-column: 5;
  grid-row: 3;
}

.grid-3-1 {
  grid-column: 1;
  grid-row: 3;
}

.grid-3-2 {
  grid-column: 2;
  grid-row: 3;
}

.grid-3-3 {
  grid-column: 3;
  grid-row: 3;
}

.grid-3-4 {
  grid-column: 4;
  grid-row: 3;
}

// Row 4 
.grid-4-5 {
  grid-column: 5;
  grid-row: 4;
}

.grid-4-1 {
  grid-column: 1;
  grid-row: 4;
}

.grid-4-2 {
  grid-column: 2;
  grid-row: 4;
}

.grid-4-3 {
  grid-column: 3;
  grid-row: 4;
}

.grid-4-4 {
  grid-column: 4;
  grid-row: 4;
}

.north,
.south,
.east,
.west {
  background-image: url(/assets/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.south {
  transition: 0.5s ease-in-out;
}

.north {
  transition: 0.5s ease-in-out;
  transform: rotate(180deg);
}

.east {
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
}

.west {
  transition: 0.5s ease-in-out;
  transform: rotate(90deg);
}

.color-0, .color-undefined {
  background-color: #ffffff;
  color: #ffffff;
}

.color-2 {
  background-color: #ed0bb0;
}

.color-4 {
  background-color:  #ad67e3;
}

.color-8 {
  background-color: #ac91f7;
}

.color-16 {
  background-color: #13758a;
}

.color-32 {
  background-color: #3cfdc1;
}

.color-64 {
  background-color: #18dd97;
}

.color-128 {
  background-color: #e2fa20;
}

.color-256 {
  background-color: #c0a908;
}

.color-512 {
  background-color: #f27e18;
}

.color-1024 {
  background-color: #d74f00;
}

.color-2048 {
  background-color: #d36a6a;
}

.color-4096 {
  background-color: #ff1000;
}
