$base-color: #4C2A19;
$brown: #c1a172;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: $brown;
}

.panel ul,
.panel li,
.game-piece
p {
  color: $brown;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-content {
  background-color: transparent;
  background-image: none;
}

.game-wrapper,
.panel {
  background-image: url(/assets/brown-bg.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

.game-wrapper {
  position: fixed;
  width: 100%;
  height: 110vh;
}

.panel {
  padding-left: 10px;
  padding-right: 10px;
}

.game-board {
  display: block;
  position: relative;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
  background-image: url(/assets/wood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.game-piece {
  display: block;
  position: absolute;
  text-align: center;
  transition: background-color 0.1s, transform 0.1s, top 0.1s, left 0.1s,
  bottom 0.1s, right 0.1s;
  height: 18%;
  width: 18%;
  padding: 1%;
  border: $brown outset 2px;
  border-radius: 12px;
  line-height: min(15vw, 15vh);
}

.row-1 {
  top: 1%;
}

.row-2 {
  top: 21%;
}

.row-3 {
  top: 41%;
}

.row-4 {
  top: 61%;
}

.row-5 {
  top: 81%;
}

.col-1 {
  left: 1%;
}

.col-2 {
  left: 21%;
}

.col-3 {
  left: 41%;
}

.col-4 {
  left: 61%;
}

.col-5 {
  left: 81%;
}

.color-0,
.color-undefined {
  border: 0.5px inset #dddddd;
  color: #ffffff;
  background-color: lighten($base-color, 100%)
}

.color-2 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/2.png);
  background-color: lighten($base-color, 75%);
  color: darken($color: $base-color, $amount: 0%);
}

.color-4 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/4.png);
  background-color: lighten($base-color, 72%);
  color: darken($color: $base-color, $amount: 3%);
}

.color-8 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/8.png);
  background-color: lighten($base-color, 69%);
  color: darken($color: $base-color, $amount: 6%);
}

.color-16 {
  font-size: min(4.50vw, 4.50vh);
  // background-image: url(/assets/tiles/16.png);
  background-color: lighten($base-color, 66%);
  color: darken($color: $base-color, $amount: 9%);
}

.color-32 {
  font-size: min(4.50vw, 4.50vh);
  // background-image: url(/assets/tiles/32.png);
  background-color: lighten($base-color, 63%);
  color: darken($color: $base-color, $amount: 12%);
}

.color-64 {
  font-size: min(4.50vw, 4.50vh);
  // background-image: url(/assets/tiles/64.png);
  background-color: lighten($base-color, 60%);
  color: darken($color: $base-color, $amount: 15%);
}

.color-128 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/128.png);
  background-color: lighten($base-color, 57%);
  color: darken($color: $base-color, $amount: 18%);
}

.color-256 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/256.png);
  background-color: lighten($base-color, 54%);
  color: darken($color: $base-color, $amount: 21%);
}

.color-512 {
  font-size: min(4.75vw, 4.75vh);
  // background-image: url(/assets/tiles/512.png);
  background-color: lighten($base-color, 51%);
  color: darken($color: $base-color, $amount: 24%);
}

.color-1024 {
  font-size: min(4.50vw, 4.50vh);
  // background-image: url(/assets/tiles/1024.png);
  background-color: lighten($base-color, 48%);
  color: darken($color: $base-color, $amount: 27%);
}

.color-2048 {
  font-size: min(4.25vw, 4.25vh);
  // background-image: url(/assets/tiles/2048.png);
  background-color: lighten($base-color, 45%);
  color: darken($color: $base-color, $amount: 30%);
}

.color-4096 {
  font-size: min(4.25vw, 4.25vh);
  background-color: lighten($base-color, 42%);
  color: darken($color: $base-color, $amount: 33%);
}

.color-8192 {
  font-size: min(4.0vw, 4.0vh);
  background-color: lighten($base-color, 39%);
  color: darken($color: $base-color, $amount: 36%);
}

.color-16384 {
  font-size: min(3.80vw, 3.80vh);
  background-color: lighten($base-color, 36%);
  color: darken($color: $base-color, $amount: 39%);
}

.color-32768 {
  font-size: min(3.75vw, 3.75vh);
  background-color: lighten($base-color, 33%);
  color: lighten($color: $base-color, $amount: 99%);
}

.color-65536 {
  font-size: min(3.60vw, 3.60vh);
  background-color: lighten($base-color, 30%);
  color: lighten($color: $base-color, $amount: 96%);
}

.color-131072 {
  font-size: min(3.50vw, 3.50vh);
  background-color: lighten($base-color, 27%);
  color: lighten($color: $base-color, $amount: 93%);
}

.color-262144 {
  font-size: min(3.50vw, 3.50vh);
  background-color: lighten($base-color, 24%);
  color: lighten($color: $base-color, $amount: 90%);
}

.color-524288 {
  font-size: min(3.50vw, 3.50vh);
  background-color: lighten($base-color, 21%);
  color: lighten($color: $base-color, $amount: 87%);
}

.color-1048576 {
  font-size: min(3.25vw, 3.25vh);
  background-color: lighten($base-color, 18%);
  color: lighten($color: $base-color, $amount: 84%);
}

.color-2097152 {
  font-size: min(3.25vw, 3.50vh);
  background-color: lighten($base-color, 15%);
  color: lighten($color: $base-color, $amount: 81%);
}

.color-4194304 {
  font-size: min(3.25vw, 3.25vh);
  background-color: lighten($base-color, 12%);
  color: lighten($color: $base-color, $amount: 78%);
}

.color-8388608 {
  font-size: min(3.0vw, 3.0vh);
  background-color: lighten($base-color, 9%);
  color: lighten($color: $base-color, $amount: 75%);
}

.color-16777216 {
  font-size: min(2.75vw, 2.75vh);
  background-color: lighten($base-color, 6%);
  color: lighten($color: $base-color, $amount: 72%);
}

.color-33554432 {
  font-size: min(2.50vw, 2.50vh);
  background-color: lighten($base-color, 3%);
  color: lighten($color: $base-color, $amount: 69%);
}

.color-67108864 {
  font-size: min(2.5vw, 2.5vh);
  background-color: $base-color;
  color: lighten($color: $base-color, $amount: 66%);
}
