

.game-board {
  display: block;
  position: relative;
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
  background-image: url(/assets/wood-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // grid-column-gap: 25px;
  // grid-row-gap: 25px;
  // grid-template-columns: auto auto auto auto auto;
  // grid-template-rows: auto auto auto auto auto;
}

.game-piece {
  display: block;
  position: absolute;
  text-align: center;
  transition: background-color 0.1s, transform 0.1s, top 0.1s, left 0.1s, bottom 0.1s, right 0.1s;
  height: 18%;
  width: 18%;
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;
  border: #c1a172 outset 2px;
  border-radius: 12px;
}

.row-1 {
  top: 1%;
}

.row-2 {
  top: 21%;
}

.row-3 {
  top: 41%;
}

.row-4 {
  top: 61%;
}

.row-5 {
  top: 81%;
}

.col-1 {
  left: 1%;
}

.col-2 {
  left: 21%;
}

.col-3 {
  left: 41%;
}

.col-4 {
  left: 61%;
}

.col-5 {
  left: 81%;
}

.color-0,
.color-undefined {
  border: 0.5px inset #dddddd;
  background-color: #ffffff;
  color: #ffffff;
}

.color-2 {
  background-color: #edded4;
  background-image: url(/assets/tiles/2.png);
}

.color-4 {
  background-color: #f1bfb1;
  background-image: url(/assets/tiles/4.png);
}

.color-8 {
  background-color: #f3d1c8;
  background-image: url(/assets/tiles/8.png);
}

.color-16 {
  background-color: #e3b5a8;
  background-image: url(/assets/tiles/16.png);
}

.color-32 {
  background-color: #ef9a93;
  background-image: url(/assets/tiles/32.png);
}

.color-64 {
  background-color: #e79580;
  background-image: url(/assets/tiles/64.png);
}

.color-128 {
  background-color: #cc8e7f;
  background-image: url(/assets/tiles/128.png);
}

.color-256 {
  background-color: #e5756a;
  background-image: url(/assets/tiles/256.png);
}

.color-512 {
  background-color: #ed9290;
  background-image: url(/assets/tiles/512.png);
}

.color-1024 {
  background-color: #c76456;
  background-image: url(/assets/tiles/1024.png);
}

.color-2048 {
  background-color: #e79580;
  background-image: url(/assets/tiles/2048.png);
}

.color-4096 {
  background-color: #bb4b51;
}
